@tailwind base;
@tailwind components;

.wavy-border {
    @apply left-0 w-full bottom-auto;
    top: -6px;
    transform: rotate(180deg);
}

@tailwind utilities;

.list-definition {
    counter-reset: definition-counter;
}
.list-definition li {
    counter-increment: definition-counter;
}
.list-definition li::before {
    content: counter(definition-counter) " ";
    @apply text-teal-500 font-bold ml-4 mr-2;
}

.router-link-exact-active {
    @apply bg-gray-800 text-gray-300;
}