@tailwind base;
@tailwind components;

.wavy-border {
  @apply left-0 w-full bottom-auto;
  top: -6px;
  transform: rotate(180deg);
}

@tailwind utilities;

@responsive {
  .-translate-y-full {
    transform: translateY(-100%);
  }
  .translate-y-0 {
    transform: translateY(0);
  }
  .transition-medium {
    transition-duration: 0.2s;
  }
  .transition-none {
    transition-property: none;
  }
  .ease-in {
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }
}

.list-definition {
  counter-reset: definition-counter;
}
.list-definition li {
  counter-increment: definition-counter;
}
.list-definition li::before {
  content: counter(definition-counter) " ";
  @apply text-teal-500 font-bold ml-4 mr-2;
}

.router-link-active- {
  @apply bg-gray-900 text-gray-300;
}

#navigation::-webkit-scrollbar {
  width: 0 !important;
}

#navigation {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
